@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans+Condensed:wght@300&family=Roboto&family=Rubik&display=swap');
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}


h1,h2,label {
  font-family: 'Roboto', monospace;
  font-weight: bolder;

}

button {
  font-family: 'Rubik', sans-serif;
}

span,p {
  font-family: 'Fira Sans', sans-serif;
}

.App-field {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

span {
  color: grey;
  text-decoration: none;
  width: 25px;
}
.overflow {
  overflow: hidden;
  border-top: 0.1rem solid #f1f2f7;
  background-color: white;
}
